.DS_Store
/[lL]ibrary/
/[tT]emp/
/[tT]mp/
/[oO]bj/
/[bB]uild/
/Assets/Tmp/
/Assets/Tmp.meta
*.csproj
*.pidb
*.resources
*.unityproj
*.sln
*.userprefs
*.usertasks

# vim syntax checking response file
.mcs

# points to the Unity applications binary folder
.unity

# saved defines managed by CLI builder
.defines
